<div class="container" style="border: solid 2px; margin-top: 20px; background-color: rgb(236, 201, 201); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <header style="text-align: center; margin: 30px; color: rgb(54, 3, 78);"><h2>YOUR ORDERS</h2></header>
    <table class="table">
        <thead style="text-align: center;">
          <tr>
            <th scope="col">Items</th>
            <th scope="col">Order Id</th>
            <th scope="col">Order Date</th>
            <th scope="col">Total Price</th>
            <th scope="col">View orders</th>
          </tr>
        </thead>
        <tbody style="text-align: center;">
            <tr *ngFor="let item of cakeItems ; let i=index">
              <th scope="row">{{i+1}}</th>
              <td>{{item.orderid}}</td>
              <td>{{item.orderdate}}</td>
              <td>{{item.price | currency : "INR"}}</td>
              <td><button (click)="viewPrevOrders(i)" type="button" class="btn btn-warning">View</button></td>
            </tr>
          </tbody>
    </table>

    <div *ngIf="!cakeItems" style="text-align:center;">
        <h2>Your Cart is empty</h2>
    </div>
      
</div>
