<div class="container" style="border: solid 2px; margin-top: 20px; background-color: rgb(120, 209, 234); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <header style="text-align: center; margin: 30px; color: rgb(82, 2, 2);"><h2>ORDER DETAILS</h2></header>
    <h6>Order ID: {{orderId}}</h6>
    <table class="table">
        <thead style="text-align: center;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Cake</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Price</th>
          </tr>
        </thead>
        <tbody style="text-align: center;">
            <tr *ngFor="let item of cakeorders ; let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.name}}</td>
                <td><img style="height: 60px; width:60px" [src]="item.image" alt=""></td>
                <td>{{item.price | currency:"INR"}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.quantity * item.price | currency:"INR"}}</td>
            </tr>
          </tbody>
    </table>
    <h5 style="font-family: 'Times New Roman', Times, serif;">Total Amount Payable: {{totAmt | currency:"INR"}}</h5>
</div>
